.participant{
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.online {
  &:before{
    content: 'â—';
    color: green;
  }
}